Flask>=1.1.2,<2.0.0
Nintendo @ git+https://github.com/Kinnay/NintendoClients.git
toml>=0.10.0,<1.0.0
msgpack>=1.0.0,<2.0.0
Wand>=0.6.1,<1.0.0
Flask-Limiter>=1.3.1,<2.0.0
syncpg>=1.1.1,<2.0.0
xbrz.py>=1.0.0,<2.0.0
