{% extends 'base_patron.html' %}
{% block title %}About Plaza{% endblock %}
{% block content %}
	<p>Plaza is a simple app that lets you:</p>
	<ul>
		<li>Create and share custom designs from any image
		<li>Download and edit other people's custom designs
		<li>See a list of a creator's designs
		<li>View the status of a Dodo Code™
	</ul>
	<p>All this functionality is also available as an API.</p>
{% endblock %}
{# disable this since we are on the about page #}
{% block about_link %}{% endblock %}
