<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8>
	<title>{% block title %}{% endblock %}</title>
	<link rel=stylesheet href="/static/css/milligram.css">
	<link rel=stylesheet href="/static/css/styles.css">
</head>
<body>
	<div class=container>
		<main>
			<h1>{{ self.title() }}</h1>
			{% include 'flashes.html' %}
			{% block content %}
			{% endblock %}
		</main>
		<footer>
			{% block footer %}
				<nav>
					<a href="https://github.com/acplaza/acplaza">Source code and API documentation</a>
				</nav>
			{% endblock %}
		</footer>
	</div>
</body>
</html>
