{% extends 'base.html' %}
{% block title %}Create a design{% endblock %}
{% block content %}
	<style>
		#resize-group {
			display: none;
		}
		.required::after {
			color: red;
			content: ' *';
		}
		/* copied from milligram's label styles */
		.form-question {
			display: block;
			font-size: 1.6rem;
			font-weight: 700;
			margin-bottom: .5rem;
		}
		#x {
			font-size: 3.2rem;
			font-weight: 700;
		}
	</style>
	<form method=post enctype="multipart/form-data">
		<fieldset>
			<input type=hidden name=csrf_token value="{{ csrf_token() }}">
			<input type=hidden name=design_type value="basic-design">
			<label class=required for=file>Pick an image</label>
			<input type=file id=file name=0 required>
			<label class=required for=image_name>Name</label>
			<input type=text name=image_name id=image_name maxlength=20 required>
			<label for=author_name>Author name</label>
			<input type=text name=author_name id=author_name maxlength=20 placeholder="Anonymous">
			<div class="required form-question">Would you like to create one design or split it up and tile it?</div>
			<div>
				<input type=radio id=scale name=mode value=scale checked required>
				<label class=label-inline for=scale>Scale</label>
			</div>
			<div>
				<input type=radio id=tile name=mode value=tile required>
				<label class=label-inline for=tile>Tile</label>
			</div>
			<div id="resize-group" style="display: none">
				Resize<br>
				{% from 'utils.html' import numeric_input_attrs %}
				<div class=row>
					<input {{ numeric_input_attrs }} name=resize-width placeholder="Width"><!--
					--><span id="x">×</span><input {{ numeric_input_attrs }} name=resize-height placeholder="Height">
				</div>
			</div>
			<input type=submit value="Upload">
		</fieldset>
	</form>
	<script>
		let scaleRadio = document.getElementById('scale');
		let tileRadio = document.getElementById('tile');
		let resizeGroup = document.querySelector('#resize-group');
		const scale = () => { resizeGroup.style.display = 'none'; };
		const tile = () => { resizeGroup.style.display = 'block'; };
		scaleRadio.addEventListener('click', scale);
		tileRadio.addEventListener('click', tile);
		document.addEventListener('DOMContentLoaded', () => (scaleRadio.checked ? scale : tile)());
	</script>
{% endblock %}
