{% extends 'base.html' %}
{% block title %}{{ image.image_name }}{{ image.author_name if image.author_name != 'Anonymous' }}{% endblock %}
{% block content %}
	<p>{{ design_type }}</p>
	{% if session.user_id == image.author_id %}
		<nav>
			<form method=post action="/image/{{ image.image_id }}/delete">
				<input type=hidden name=csrf_token value="{{ csrf_token() }}">
				<input type=submit value="Delete this design">
			</form>
		</nav>
	{% endif %}
	{% if preview %}
		<img src="{{ preview }}"><br>
	{% endif %}
	{% for name, url in layers %}
		<img alt="{{ name }}" title="{{ name }}" src="{{ url }}">
	{% endfor %}
	{% if designs|length < required_design_count %}
		<p>
			Some in-game designs have been deleted to save space.
			<a href="/refresh-image/{{ image.image_id }}">Recreate them</a>
		</p>
	{% endif %}
	<h2>Active design codes</h2>
	<ol>
		{% for position, design_code in designs.items() %}
			<li value="{{ position }}">{{ design_code }}
		{% endfor %}
	</ol>
{% endblock %}
