{% extends 'base.html' %}
{% block title %}{{ image.image_name }}{% endblock %}
{% block content %}
	<p>Author: {{ image.author_name }}</p>
	{% if session.user_id == image.author_id %}
		<nav>
			<form method=post action="/image/{{ image.image_id }}/delete">
				<input type=hidden name=csrf_token value="{{ csrf_token() }}">
				<input type=submit value="Delete this design">
			</form>
		</nav>
	{% endif %}
	{% for name, url in layers %}
		<img alt="{{ name }}" title="{{ name }}" src="{{ url }}">
	{% endfor %}
	{% if designs|length < required_design_count %}
		<p>
			Some in-game designs have been deleted to save space.
			<a href="/refresh-image/{{ image.image_id }}">Recreate them</a>
		</p>
	{% endif %}
	<h2>Active design codes</h2>
	{% for design in designs %}
		{# ngl this code is pretty sus #}
		{% if loop.first %}
			<ol start="{{ design.position }}">
		{% endif %}
		{% if loop.previtem is defined and design.position - loop.previtem.position > 1 %}
			</ol>
			<ol start="{{ design.position }}">
		{% endif %}
		<li>{{ design.design_code }}
	{% endfor %}
	</ol>
{% endblock %}
