{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}
{% block content %}
	<a href="/logout">Log out</a>
	<h2>View a design</h2>
	<p>Enter a design ID</p>
	{% include 'fragments/design_form.html' %}
	<h2>View a creator's designs</h2>
	<p>Enter a creator ID</p>
	{% include 'fragments/designs_form.html' %}
	<h2>Create a design</p>
	<a href="/create-design">Create a design</a>
	<h2>View an active island hosting session</h2>
	<p>Enter a Dodo Code™</p>
	{% include 'fragments/host_session_form.html' %}
{% endblock %}
