{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}
{% block content %}
	<a class="button button-outline" href="/logout">Log out</a>
	<h2><a href="/create-design">Create a design</a></h2>
	<h2>View a design</h2>
	<form action="/design/">
		<label for=design_code>Enter a design ID</label>
		<div class=row>
			MO-<input
				id=design_code
				name=design_code
				type=text
				placeholder="5RJJ-TXK3-JWXV"
				pattern="{{ design_code_regex }}"
			>
		</div>
		<input type=submit value="View">
	</form>
	<h2>View a creator's designs</h2>
	<form action="/designs/">
		<label for=author_id>Enter a creator ID</label>
		<div class=row>
			MA-<input
				id=author_id
				name=author_id
				type=text
				inputmode=numeric
				placeholder="6677-5165-4031"
				pattern="{{ author_id_regex }}"
			>
		</div>
		<input type=submit value="View">
	</form>
	<h2>View an active island hosting session</h2>
	<form action="/host-session/">
		<label for=dodo_code>Enter a Dodo Code™</label>
		<input
			id=dodo_code
			name=dodo_code
			type=text
			autocomplete=off
			placeholder="QRM30"
			pattern="{{ dodo_code_regex }}"
		>
		<input type=submit value="View">
	</form>
{% endblock %}
